// Primary 01
$color-primary-01-100 : #eaf3e2;
$color-primary-01-200 : #cbe3b5;
$color-primary-01-300 : #add585;
$color-primary-01-400 : #91c854;
$color-primary-01-500 : #78be20; // default value
$color-primary-01-600 : #41a017;
$color-primary-01-700 : #158110;
$color-primary-01-800 : #0a601b;
$color-primary-01-900 : #053e1f;

// Primary 02
$color-primary-02-100 : #dbedea;
$color-primary-02-200 : #a5d1cb;
$color-primary-02-300 : #6eb4ad;
$color-primary-02-400 : #379590;
$color-primary-02-500 : #007574;
$color-primary-02-600 : #035f64; // default value
$color-primary-02-700 : #044c53;
$color-primary-02-800 : #063a44;
$color-primary-02-900 : #062b35;

// Primary grey scale
$color-grey-000 : #ffffff;
$color-grey-100 : #eeeef0;
$color-grey-200 : #d3d2d6;
$color-grey-300 : #bab6bc;
$color-grey-400 : #a19ba2;
$color-grey-500 : #887f87;
$color-grey-600 : #6f676c;
$color-grey-700 : #554f52;
$color-grey-800 : #3c3738;
$color-grey-900 : #222020;
$color-grey-999 : #000000;

// Secondary blue
$color-secondary-blue-100 :#ecfcfd;
$color-secondary-blue-200 :#b7eef5;
$color-secondary-blue-300 :#84dbeb;
$color-secondary-blue-400 :#54c4de;
$color-secondary-blue-500 :#25a8d0;
$color-secondary-blue-600 :#2282a8;
$color-secondary-blue-700 :#1e5f82;
$color-secondary-blue-800 :#18415d;
$color-secondary-blue-900 :#102739;

// Secondary purple - TODO ?

// Secondary red
$color-secondary-red-100 :#feedee;
$color-secondary-red-200 :#fab9bc;
$color-secondary-red-300 :#f38789;
$color-secondary-red-400 :#ea5d58;
$color-secondary-red-500 :#df382b;
$color-secondary-red-600 :#b42a27;
$color-secondary-red-700 :#8b2226;
$color-secondary-red-800 :#641b21;
$color-secondary-red-900 :#3e1219;

// Secondary orange
$color-secondary-orange-100 :#fff5eb;
$color-secondary-orange-200 :#ffdab2;
$color-secondary-orange-300 :#ffc17d;
$color-secondary-orange-400 :#ffab4b;
$color-secondary-orange-500 :#fc961e;
$color-secondary-orange-600 :#c86f21;
$color-secondary-orange-700 :#974f20;
$color-secondary-orange-800 :#6a351c;
$color-secondary-orange-900 :#401f15;

// Secondary yellow
$color-secondary-yellow-100 :#fff8e2;
$color-secondary-yellow-200 :#ffebaf;
$color-secondary-yellow-300 :#fee07d;
$color-secondary-yellow-400 :#fcd64c;
$color-secondary-yellow-500 :#f8cc1c;
$color-secondary-yellow-600 :#c9a21b;
$color-secondary-yellow-700 :#9c7b18;
$color-secondary-yellow-800 :#705613;
$color-secondary-yellow-900 :#46350d;
