.ka-bullet{
    display: inline-block;
    vertical-align: middle;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background : $secondary-blue-500;
}

/** HTML bullets/global
    <ul>
        <li><span class="ka-bullet"></span> Ceci est une puce</li>
    </ul>
*/