.ka-image {
    display: block;
    max-width: 100%;
    width: auto;
    height: auto;

    &.is-loading {
        max-width: none;
        height: auto;
        width: 100%;
        filter: blur(4px) opacity(.15) brightness(100%);
        -webkit-filter: blur(4px) opacity(.15) brightness(100%);
        z-index: 1;
    }
}

// TODO - Add documentation