.a-wysiwyg {
    ul {
        padding: inherit;
        li {
            list-style: initial;
            list-style-position: inside;
        }
    }
    strong {
        font-weight: bold();
    }
}
