.km-accordion {
    border: 1px solid $primary-01-500;

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        text-align: left;
        padding: get-space(M);
        background: $grey-100;
        box-shadow: 0 0 0 1px $primary-01-500;
        cursor: pointer;

        svg {
            fill: $primary-01-500;
        }
    }

    &__icon-container {
        width: 32px;
        height: 32px;
    }

    &__icon {
        position: absolute;
    }

    &__panel {
        transition: max-height 2s ease-in-out;
    }

    &__content {
        padding: get-space(M);
    }
}

/* HTML molecule/accordion

<div class="kl-accordion km-accordion js-accordion" id="accMacro">
    <button class="km-accordion__header js-accordion__header" id="accMacroheader1" tabindex="0" aria-controls="accMacropanel1" role="tab">
        Title 1
        <div class="km-accordion__icon-container js-accordion__icon-container">
        <svg class="-hidden" xmlns="http://www.w3.org/2000/svg"><symbol id="Navigation_Display_More_32px" viewBox="0 0 32 32"><path d="M26,15H17V6a1,1,0,0,0-2,0v9H6a1,1,0,0,0,0,2h9v9a1,1,0,0,0,2,0V17h9a1,1,0,0,0,0-2Z"></path></symbol></svg>
        <svg class="ku-icon-32 km-accordion__icon js-accordion__icon js-accordion__icon-more"><use xlink:href="#Navigation_Display_More_32px" href="#Navigation_Display_More_32px"></use></svg>

        <svg class="-hidden" xmlns="http://www.w3.org/2000/svg"><symbol id="Navigation_Display_Less_32px" viewBox="0 0 32 32"><path d="M24,17H8a1,1,0,0,1,0-2H24a1,1,0,0,1,0,2Z"></path></symbol></svg>
        <svg class="ku-icon-32 km-accordion__icon js-accordion__icon js-accordion__icon-less kl-hidden"><use xlink:href="#Navigation_Display_Less_32px" href="#Navigation_Display_Less_32px"></use></svg>
        </div>
    </button>
    <div class="km-accordion__panel js-accordion__panel is-collapsed" id="accMacropanel3" aria-labelledby="accMacroheader3" role="tabpanel" data-panel="1" aria-expanded="false">
        <div class="km-accordion__content">
            ACC CONTENT <br>
            LIGNE 2
        </div>
    </div>
    <button class="km-accordion__header js-accordion__header" id="accMacroheader2" tabindex="0" aria-controls="accMacropanel2" role="tab">
        Title 2
        <div class="km-accordion__icon-container js-accordion__icon-container">
            <svg class="ku-icon-32 km-accordion__icon js-accordion__icon js-accordion__icon-more"><use xlink:href="#Navigation_Display_More_32px" href="#Navigation_Display_More_32px"></use></svg>
            <svg class="ku-icon-32 km-accordion__icon js-accordion__icon js-accordion__icon-less kl-hidden"><use xlink:href="#Navigation_Display_Less_32px" href="#Navigation_Display_Less_32px"></use></svg>
        </div>
    </button>
    <div class="km-accordion__panel js-accordion__panel is-collapsed" id="accMacropanel3" aria-labelledby="accMacroheader3" role="tabpanel" data-panel="2" aria-expanded="false">
        <div class="km-accordion__content">
            ACC CONTENT <br>
            LIGNE 2
        </div>
    </div>
    <button class="km-accordion__header js-accordion__header" id="accMacroheader3" tabindex="0" aria-controls="accMacropanel3" role="tab">
        Title 3
        <div class="km-accordion__icon-container js-accordion__icon-container">
            <svg class="ku-icon-32 km-accordion__icon js-accordion__icon js-accordion__icon-more"><use xlink:href="#Navigation_Display_More_32px" href="#Navigation_Display_More_32px"></use></svg>
            <svg class="ku-icon-32 km-accordion__icon js-accordion__icon js-accordion__icon-less kl-hidden"><use xlink:href="#Navigation_Display_Less_32px" href="#Navigation_Display_Less_32px"></use></svg>
        </div>
    </button>
    <div class="km-accordion__panel js-accordion__panel is-collapsed" id="accMacropanel3" aria-labelledby="accMacroheader3" role="tabpanel" data-panel="3" aria-expanded="false">
        <div class="km-accordion__content">
            ACC CONTENT <br>
            LIGNE 2
        </div>
    </div>
</div>
*/
