.km-hero-box{
    background: $white; 
    border-radius: $radius-m;
    padding: get-space(L); 
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2);
    
    &__title{
        padding-bottom: get-space(XS); 
        font-size: get-font-size('title', s); 
        font-weight: bold();
        @include add-separator($position: "bottom", $color: $primary-01-500, $height : $border-m) {
            margin-top: get-space(M);
            width: 6rem;
        };
    }

    &__description{
       padding-top: get-space(XS); 
       color: $grey-700; 
       font-size: get-font-size('text', s); 
    }
    
    &__button {
        width:100%; 
        margin-top: get-space(M); 
        text-align: center; 
    }
}

/* HTML Molecules/Hero_box
    <div class="km-hero-box>
        <h2 class="km-hero-box__title">my title</h2>
        <p class="km-hero-box__description">my description</p>
        <a href="#" class="ka-button km-hero-box__button">my button</a> <# Can be optionnal />
    </div>
*/