.km-radio-wrapper{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    position: relative;
    // Element
    &__input{
        @include resetInput;
        width: pxToRem(18);
        height: pxToRem(18);
        border: 2px solid $color-form-radio-border;
        border-radius: 50%;
        cursor: pointer;
        flex: 0 0 auto;
        &:before{
            content: '';
            display: none;
            position: absolute;
            left: 5px;
            top: 50%;
            transform: translateY(-50%);
            background: $color-form-radio-checked-bullet;
            width: pxToRem(8);
            height: pxToRem(8);
            border-radius: 50%;
            pointer-events: none;
        }
        &.is-valid{
            @include inputValidStyle;
        }
        &.is-invalid{
            @include inputInvalidStyle;
        }
        &:valid, &:invalid {
            box-shadow: none;
        }
        &:hover{
            @include inputHoverStyle;
        }
        &:focus,
        &:focus:checked{
            @include inputFocusStyle;
        }
        &:checked{
            @include inputCheckedStyle;
            &:before{
                display: block;
            }
        }
        &:disabled{
            @include inputDisabledStyle;
        }
    }
    // Element
    &__label{
        @include labelStyle;
        margin : 0 0 0 get-space(S);
        cursor: pointer;
        :checked ~ &{
            @include labelCheckedStyle;
        }
        :hover ~ &{
            @include labelHoverStyle;
        }
    }

    &__suffix-label {
        color: $grey-500;
        cursor: pointer;
    }
}
