
$calendarBackground: $white;
$calendarBorderColor: #eceef1;

$calendarMonthForeground:#5a6171;
$calendarMonthBackground:#eceef1;

$calendarWeekdaysBackground: #eceef1;
$calendarWeekdaysForeground: #5a6171;

$calendarDayForeground:#484848;
$calendarDayHoverBackground: #e2e2e2;

$calendarTodayColor: #bbb;

$calendarSelectedDayBackground: #FF5A5F;
$calendarSelectedDayForeground: $white;

$noCalendarBorder: true;
$arrow_hover_color: $black;