// Label
$color-form-label : $grey-700;
$color-form-label-is-hover : $black;
$color-form-label-is-checked : $black;

// Input color
$color-form-input : $grey-900;

// Input border
$color-form-input-border : $grey-600;
$color-form-input-border-is-hover : $grey-900;
$color-form-input-border-is-focus : $secondary-blue-500;
$color-form-input-border-is-valid : $primary-01-500;
$color-form-input-border-is-checked : $primary-01-500;
$color-form-input-border-is-invalid : $secondary-red-500;
$color-form-input-border-is-disabled : $grey-400;

// Checkbox
$color-form-checkbox-border : $grey-600;
$color-form-checkbox-background-is-checked : $primary-01-500;

// Radio
$color-form-radio-border : $grey-600;
$color-form-radio-checked-bullet : $primary-01-500;

// Input background
$color-form-input-background-is-disabled : $grey-100;

// Picto
$color-form-ico : $black;
$color-form-ico-is-hover : $grey-900;
$color-form-ico-is-focus : $secondary-blue-500;
$color-form-ico-is-valid : $primary-01-500;
$color-form-ico-is-checked : $primary-01-500;
$color-form-ico-is-invalid : $secondary-red-500;
$color-form-ico-is-disabled : $grey-400;

// Placeholder
$color-form-placeholder : $grey-400;

// Suggestion
$color-form-suggest : $grey-600;

// Critères de validation
$color-form-criteria : $grey-600;
$color-form-criteria-is-valid : $grey-900;
$color-form-criteria-is-invalid : $grey-400;
$color-form-criteria-bullet-is-invalid : $grey-400;

// Upload
$color-form-upload-border : $primary-01-500;
$color-form-upload-border-is-disabled : $grey-400;
$color-form-upload-ico : $primary-01-500;
$color-form-upload-instructions : $primary-01-500;
$color-form-upload-instructions-is-disabled : $grey-400;