// Price discount
$price-discount-flag-red: $secondary-red-500;

// Price policy flags (Prix haute qualite, Produit star, ...)
$price-policy-flag-yellow: #FDD757;
$price-policy-flag-blue: #4AABCA;
$price-policy-flag-red: $secondary-red-500;
