@mixin set-style($color, $height, $align) {
    display: block;
    background: $color;
    width: 3rem;
    height: $height;

    @if($align == "center") {
        margin: auto;
    }
    @else if($align == "right") {
        margin-left: auto;
    }
}

/**
* Mixin
* Add a separator pseudo-element to an html element
* Returns CSS declarations
*
* @param {string} $position : top, bottom(default), block
* @param {variable|hex|rgb} $color : separator color
* @param {string} $height : separator height with unit
*
* @example scss 
* .my-component {
*   @include add-separator( $position: 'top', $color: 'pink', $height: '3px'){
        margin: 1rem 0;
    };

    or 
    
    @include add-separator( $position: 'top', $color: 'pink', $height: '3px');
* }
* 
* @example output
* .my-component {
*     &:before {
*         content: '';
*         display: block;
*         background: pink;
*         width: 3rem;
*         height: 3px;
* 
*         // Optionnal
*         margin: 1rem 0;
*     }
* }
*/
@mixin add-separator($position:"bottom", $color: $primary-01-500, $height : $border-m, $align: "left") {

    @if($position != "block") {

        @if($position == "top") {
            &:before {
                content: '';

                @include set-style($color, $height, $align);

                @content;
            }
        }@else if($position == "bottom") {
            &:after {
                content: '';
                
                @include set-style($color, $height, $align);

                @content;
            }
        }
    }
    @else if ($position == "block") {
        @include set-style($color, $height, $align);

        @content;
    }

}